*{
    margin: 0;
}
body {
   
}

header {
    color: white;
  background-color: black;
    nav {
        
        gap: 20px;
        padding: 40px;
      
        

        a {
            color: white;
        }
    }
}

#hero {
    padding-top: 60px;
    padding-bottom: 120px;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 60px;
    }
    .paragraph{
        font-size: 18px;
    }
}

a {
    font-size: 17px;
    margin: 0px;
    padding: 20px 30px;
    width: 160px;
    color: black;

}

#card{
    .wrapper-card {
        background-color: white;
        text-align: center;
        display: flex;
        gap: 30px;
    
        
    }
.container{
    margin: auto; 
    width: 1130px;
    padding-top: 60px;
    padding-bottom: 120px;
    h2{
        text-align: center;
        padding-bottom: 40px;
    }
    h3{
        text-align: center;
        padding-bottom: 20px;
    }
}
}

.cards {
    background-color: white;
}

.clients {
    background-color: white;
}

.footer {
    color: white;
    background-color: black;
}

.btn {display: flex;
    background-color: white;
    color: black;
    padding: 20px;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
 margin: auto;
    width: 1130px;
}
#logo{
    background-color: black;
    padding-bottom: 50px;
    padding-top: 50px;
    .container{
        display: flex;
        gap: 30px;
    }
}
#real{
    .container{
h2{text-align: center;}
    }
}