* {
    margin: 0;
      font-family: "Epilogue", sans-serif;
}

body {}

header{
    color: white;
    background-color: black;
    font-family: "Epilogue", sans-serif;

    nav {
        gap: 20px;
        padding: 40px;

        a {
            color: white;
            font-size: 17px;
        }
    }

    a {
        font-size: 17px;
        margin: 0px;
        padding: 20px 30px;
        width: 160px;
        color: black;

    }
    h3{
        font-size: 20px;
}
}

#hero {
    padding-top: 60px;
    padding-bottom: 120px;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 60px;
    }

    .paragraph {
        font-size: 18px;
    }
}



#card {
    .wrapper-card {
        background-color: white;
        text-align: center;
        display: flex;
        gap: 30px;


    }

    .container {
        margin: auto;
        width: 1130px;
        padding-top: 60px;
        padding-bottom: 120px;

        h2 {
            text-align: center;
            padding-bottom: 40px;
        }

        h3 {
            text-align: center;
            padding-bottom: 20px;
        }
    }
}

.cards {
    background-color: white;
}



footer {
    background-color: black;
    color: white;

    .container {
        h2 {
            font-size: 32px;
            text-align: center;
            padding: 20px 20px 20px 20px;
        }

        p {
            width: 382px;
            padding-bottom: 25px;
        }

        .btn {
            width: 95px;
        }
    }
}

.btn {
    display: flex;
    background-color: white;
    color: black;
    padding: 20px;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: auto;
    width: 1130px;
}

#logo {
    background-color: black;
    padding-bottom: 60px;
    padding-top: 60px;

    .container {
        .logo {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
        }
    }
}

#real {
    .container {
        margin: auto;
        width: 1000px;
        padding-bottom: 60px;
        padding-top: 60px;

        h2 {
            text-align: center;
            padding: 70px 15px 10px 20px;
            font-size: 28px;
        }

        .parentcards {
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .cards {
            text-align: center;
            display: flex;
            flex-direction: column;
            /* width: 200px; */
            flex: 1;
            gap: 10px;
            padding: 20px;
        }

        img {
            width: 250px;
        }
    }
}

#temoignage {
    .container {
        h2 {
            font-size: 28px;
            text-align: center;
            padding: 20px 40px 20px;
        }

        .grey {
            background-color: #F3F3F3;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            padding-bottom: 10px;
            padding: 75px;
        }

        img {
            width: 25px;
        }
    }
}

.clients {
    display: flex;
    gap: 20px;
    p{
        font-size: 18px;
    }
}

.fa-discord {
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-basketball {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-behance {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    height: 40px;
    width: 350px;
}